body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('imgs/login2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    max-width: 400px; /* Set your desired maximum width */
    width: 100%;
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure the form is above the blurred background */
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label, .login-container input {
    margin-bottom: 10px;
    width: 100%;
}

.login-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}

.login-container button:hover {
    background-color: #45a049;
}
svg{
    height: 60px;
    width: 20px;
}
label{
    font-size: 18px;
}
